[submodule "leetcode"]
	path = leetcode
	url = https://github.com/tidunguyen/leetcode
[submodule "kattis"]
	path = kattis
	url = https://github.com/tidunguyen/kattis
[submodule "hacker-earth"]
	path = hacker-earth
	url = https://github.com/tidunguyen/hacker-earth
[submodule "free-code-camp"]
	path = free-code-camp
	url = https://github.com/tidunguyen/free-code-camp
[submodule "codeforces"]
	path = codeforces
	url = https://github.com/tidunguyen/codeforces
